# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
.env

# Docker and IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs and DB data
*.log
postgres_data/
redis_data/
anomaly_models/
